<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>COVID-19 Excuse As a Service</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer/">
    <link href="/fontawesome/css/all.css" rel="stylesheet"> <!--load all styles -->

    <!-- Bootstrap core CSS -->
    <link href="/assets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assets/c19eaas.css" rel="stylesheet">
  </head>

  <body>
    <!-- Begin page content -->
    <main role="main" class="container">
      <h1 class="mt-5">COVID-19 Excuse As a Service</h1>
      <p>
        <a href="/"><button type="button" class="btn btn-primary"><i class="fa fa-home"></i> Home</button></a>
        <a href="/investors"><button type="button" class="btn btn-success"><i class="fas fa-hand-holding-usd"></i> Investors</button></a>
        <a href="/contact"><button type="button" class="btn btn-info"><i class="fas fa-envelope"></i> Contact</button></a>
      </p>
      <hr />
